<h3>Add a Food</h3>

<!%= form_for(:food, url: ('/foods?parent_id=' + params[:id]), method: :post ) do |f| %>
<%= form_for(:food, url: {controller: 'foods', parent_id: params[:id], type: params[:type]}, method: :post ) do |f| %>
	<table>
		<tr>
			<td>Name: </td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td>Quantity:</td>
			<td><%= f.text_field :quantity %></td>
		</tr>
		<tr>
			<td>Weight (g): </td>
			<td><%= f.text_field :weight %></td>
		</tr>
		<% if @list %>
			<!-- <tr>
				<td>List: </td>
				<td><%= f.text_field :list, value: @list.name %></td>
			</tr> -->
		<% end %>	
	</table>

	<% if @food && @food.errors.any? %>
		<p>Food must have a name</p>
	<% end %>

	<p>
		<%= f.submit %>
	</p>
<% end %>