<%= form_for(:food, url: ('/foods?cabinet_id=' + params[:id]), method: :post ) do |f| %>
	<table>
		<tr>
			<td>Name: </td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td>Quantity:</td>
			<td><%= f.text_field :quantity %></td>
		</tr>
		<tr>
			<td>Weight (g): </td>
			<td><%= f.text_field :weight %></td>
		</tr>
	</table>

	<% if @food && @food.errors.any? %>
		<p>Food must have a name</p>
	<% end %>

	<p>
		<%= f.submit %>
	</p>
<% end %>