<h1>All Cabinets</h1>


<table>
	<tr>
		<th>Name</th>
		<th colspan='2'></th>
	</tr>
	<% @cabinets.each do |cabinet| %>
		<tr>
			<td>
				<%= link_to cabinet.name, cabinet_path(cabinet) %>
			</td>
			<td>
				<%= link_to "Edit", edit_cabinet_path(cabinet) %>
			<td>
				<%= link_to "Delete", cabinet_path(cabinet), method: 
					:delete, data: {confirm: 'Are you sure?'} %>
			</td>
		</tr>
	<% end %>
</table>

<br>
<h2>Add a Cabinet</h2>
<%= render "new" %>
<%= button_to "Show All Food", foods_path, method: 'get' %>